h1{
    text-align: center;
    color: rgb(151, 131, 131);
}
.menu li{
    margin: auto;
    list-style: none;
    /* border: 1px solid red; */
    width: 40%;
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    margin: 18px ;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(151, 131, 131);
    
}
.menu li:hover{
    background-color: rgb(155, 125, 86);
}
.menu a:hover{
    color: antiquewhite;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
.menu1 a{
    margin-right: 12px;
    padding: 13px;
    text-decoration: none;
    color: rgb(119, 103, 103);
}