*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    text-align:center;
  margin:0 auto;
  background: linear-gradient(#e66465, #9198e5);
  }
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  fieldset{
    padding: 8px 11px;
    border: none;
  }
  label{
    display:block;
    margin: 1em 0;
  }
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    padding: 8px 2px;
  }
  /*la classe inline e' data sia al label che all input*/
  .inline{
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0;
  }
  .penultimo-fieldset{
    margin-bottom: -2px;
  }